/**主页布局*/

   /**通用 Header Logo */
   .pearone-layout .layui-header .layui-logo {
   	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
   	color: whitesmoke;
   	transition: all .4s;
   }

   .pearone-mini .layui-side {
   	width: 60px!important;
   }

   .pearone-layout .layui-side {
   	top: 50px !important;
   }

   .pearone-layout .layui-logo {
   	height: 50px;
   	line-height: 50px;
   }

   .pearone-layout .layui-header {
   	height: 50px !important;
   	line-height: 50px !important;
   }

   .pearone-layout .layui-body {
   	top: 50px;
   }

   .pearone-layout .layui-header .layui-nav li {
   	height: 50px !important;
   	line-height: 50px !important;
   }

   .pearone-mini .layui-layout-left {
   	left: 60px!important;
   	transition.pearone-layout : all .4s;
   }
   
   .pearone-layout .layui-nav-tree{
	   width:220px!important;
   }

   .pearone-layout .layui-layout-left {
   	transition: all .4s;
	left: 220px;
   }


   .pearone-mini .layui-body {
   	left: 60px;
   }

   .pearone-mini .layui-header .layui-logo .title {
   	display: none;
   }

   .pearone-mini .layui-side .layui-nav-item>a span {
   	display: none;
   }

   .pearone-mini .layui-logo {
   	width: 60px!important;
   }
   
/*   .layui-header{
	   left: 220px;
   } */
   
   .layui-body{
	   left:220px;
   }

   .pearone-layout .layui-logo .title {
   	margin-left: 15px;
   }
   
    .pearone-layout .layui-nav-item{
		   	transition: all .4s;
	}

   .pearone-layout .layui-body {
   	overflow: -Scroll;
   	overflow-y: hidden;
   	transition: all .4s;
   }

   .pearone-layout .layui-side {
   	transition: all .4s;
   }

   .pearone-layout .layui-side .layui-nav-tree {
   }

   .pearone-layout .layui-side .layui-nav-tree a span {
   	margin-left: 15px;
   }

   /**通用 Body Tab */
   .pearone-layout .layui-body .layui-tab {
   	height: 100%;
   }

   .pearone-layout .layui-tab ul li:first-child .layui-tab-close {
   	display: none;
   }

   .pearone-mini .layui-footer {

   	left: 60px;
   }

   .pearone-layout .layui-footer {
   	transition: all .4s;
	left:220px;
   }
   .pearone-mini .layui-footer{
	   left:60px!important;
   }


   .pearone-layout .layui-body .layui-tab .layui-tab-title {
   	padding-left: 40px;
   	padding-right: 80px;
   	box-shadow: 0px 0px 5px gray;
   }

   .pearone-layout .layui-body .layui-tab .layui-tab-content {
   	width: 100%;
   	height: calc(100% - 41px);
   	padding: 0px;
   }

   .pearone-layout .layui-body .layui-tab .layui-tab-content .layui-tab-item {
   	width: 100%;
   	height: 100%;

   }

   .pearone-layout .layui-header .layui-this:after {
   	display: none;
   }


   .pearone-mini .pearone-menu-hover {
   	position: fixed !important;
   	left: 62px !important;
/*   	top: 50px !important; */
    
   	z-index: 100 !important;
   	width: 120px !important;
   	background-color: #20222A !important;
   	min-width: 120px;
   	display: block;

   }
   
   .pearone-mini .pearone-menu-hover a i{
	   display: none!important;
   }
   .pearone-mini .pearone-menu-hover a span{
	   margin: 0px!important;
   }


   .pearone-mini  .layui-nav-itemed>.pearone-menu-hover {
   }


   /**通用 Body Tab 控制器*/
   .pearone-layout .layui-body .admin-tabs-control {
   	position: absolute;
   	top: 0px;
   	width: 40px;
   	height: 41px;
   	line-height: 41px;
   	text-align: center;
   	cursor: pointer;
   	transition: all .3s;
   	box-sizing: border-box;
   	border-left: 1px solid #f6f6f6;
   	z-index: 999;
   	background-color: white;
   	border-top: 1px solid whitesmoke;
   	border-bottom: 1px solid whitesmoke;
   }


   .pearone-layout .layui-body .layui-icon-left {
   	left: 0;
   	border-left: none;
   	border-right: 1px solid whitesmoke;


   }



   .pearone-layout .layui-body .layui-icon-right {
   	right: 40px;
   	border-left: 1px solid whitesmoke;

   }

   .pearone-layout .layui-body .layui-icon-down {
   	right: 0;
   	border-left: 1px solid whitesmoke;

   }

   .admin-tabs-select.layui-nav {
   	position: absolute;
   	left: 0;
   	top: 0;
   	width: 100%;
   	height: 100%;
   	padding: 0;
   	background: 0 0;
   }

   .admin-tabs-select.layui-nav .layui-nav-item {
   	line-height: 40px
   }

   .admin-tabs-select.layui-nav .layui-nav-item>a {
   	height: 40px
   }

   .admin-tabs-select.layui-nav .layui-nav-item a {
   	color: #666
   }

   .admin-tabs-select.layui-nav .layui-nav-child {
   	top: 46px;
   	left: auto;
   	right: 6px
   }

   .admin-tabs-select.layui-nav .layui-nav-child dd.layui-this,
   .admin-tabs-select.layui-nav .layui-nav-child dd.layui-this a {
   	background-color: #f2f2f2 !important;
   	color: #333
   }

   .admin-tabs-select.layui-nav .layui-nav-bar,
   .admin-tabs-select.layui-nav .layui-nav-more {
   	display: none;
   }
   
   /**菜单栏美化*/
   .layui-nav-child dd{
	   padding-top:5px ;
	   padding-bottom: 5px;
   }


   /**样式扩展*/

   /**选项卡扩展样式*/
   .layui-tab-topline {
   	padding: 0px;
   	margin: 0px;
   }

   .layui-tab-topline .layui-tab-title {
   	border: solid whitesmoke 0.0625rem;
   }

   .layui-tab-topline .layui-tab-title li {
   	border: solid whitesmoke 0.0625rem;
   }

   .layui-tab-topline>.layui-tab-more li.layui-this:after,
   .layui-tab-topline>.layui-tab-title .layui-this:after {
   	border-top: 2px #5FB878 solid;
   }

   /*选项卡扩展样式*/
   .layui-tab-button {
   	padding: 0px;
   	margin: 0px;
   }

   .layui-tab-button .layui-tab-title {
   	height: 40px;
   	line-height: 40px;
   	border: 0px;
   	background-color: whitesmoke;
   }

   .layui-tab-button .layui-tab-title li {
   	height: 32px;
   	line-height: 32px;
   	background: #fff;
   	border-radius: 3px;
   	margin-left: 8px;
   	border: none;
   }

   .layui-tab-button .layui-tab-title li span {
   	margin-right: 5px;
   }

   .layui-tab-button .layui-tab-title li:hover {
   	color: dodgerblue;

   }

   /** 选中状态 */
   .layui-tab-button .layui-this {
   	color: dodgerblue;
   	border: none !important;
   	border-radius: 5px;
	box-shadow: 0px 0px 3px gray;
   }

   /** 选中后 */
   .layui-tab-button .layui-this:after {
   	border: none;
   }

   .layui-tab-title li .layui-tab-close {

   	border-radius: 50px;
   }

   .layui-tab-title li .layui-tab-close:hover {

   	border-radius: 50px;
   	background-color: lightgray;
   }

   .pearone-mini  #topMenu{
	    left:180px!important;
   }
   
   #topMenu{
	   transition: all .4s;
	   left:340px!important;
   }

   /**
	 * 横向导航栏样式
	 */
   .layui-bg-white *,
   .layui-bg-white {
   	background-color: white !important;
   	color: black !important;
   }

   .layui-bg-white .layui-this:after,
   .layui-bg-white .layui-nav-bar {
   	background-color: black !important;
   }

   .layui-nav-topinline {
   	padding: 0px;
   }

   .layui-nav-topinline .layui-this:after {
   	top: 0px !important;
   	height: 2px !important;
   }

   .layui-nav-topinline .layui-nav-bar {
   	top: 0px !important;
   	height: 2px !important;
   }


	       .layui-tab-circular {
				padding: 0px;
				margin: 0px;
			}
			
			.layui-tab-circular .layui-tab-title {
				height: 40px;
				line-height: 40px;
				border: 0px;
				background-color: whitesmoke!important;
			}
			
			.layui-tab-circular .layui-tab-title li {
				height: 32px;
				line-height: 32px;
				background: #fff;
				border-radius: 20px;
				margin-left: 8px;
				border: none;
			}
			
			.layui-tab-circular .layui-tab-title li span {
				margin-right: 5px;
			}
			
			.layui-tab-circular .layui-tab-title li:hover {
				color: dodgerblue;
			
			}
			
			/** 选中状态 */
			.layui-tab-circular .layui-this {
				color: dodgerblue!important;
				border: none !important;
				box-shadow: 0px 0px 5px gray;
			}
			
			/** 选中后 */
			.layui-tab-circular .layui-this:after {
				border: none;
			}
			
			.layui-tab-title li .layui-tab-close {
			
				border-radius: 50px;
			}
			
			.layui-tab-title li .layui-tab-close:hover {
			
				border-radius: 50px;
				background-color: lightgray;
			}


.layui-layout-admin .layui-side{
	width: 220px;
}
.layui-header .layui-logo{
	width: 220px;
}



   /** 按钮样式拓展*/
.layui-bg-red {
	background-color: #f56c6c !important
}

.layui-bg-orange {
	background-color: #e6a23c !important
}

.layui-bg-green {
	background-color: #67c23a !important
}

.layui-bg-cyan {
	background-color: #2F4056 !important
}

.layui-bg-blue {
	background-color: #409eff !important
}

.layui-bg-black {
	background-color: #393D49 !important
}

.layui-bg-gray {
	background-color: #909399 !important;
	color: #fff !important
}
.layui-bg-black,
.layui-bg-blue,
.layui-bg-cyan,
.layui-bg-green,
.layui-bg-orange,
.layui-bg-red {
	color: #fff !important
}


/* 默认按钮样式 */
.layui-btn {
	display: inline-block;
	line-height: 38px;
	white-space: nowrap;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #dcdfe6;
	color: #606266;
	text-align: center;
	box-sizing: border-box;
	outline: none;
	transition: 0.1s;
	font-weight: 500;
	padding: 0 18px;
	height: 38px;
	font-size: 14px;
	border-radius: 4px;
}

.layui-btn:hover {
	opacity: .8;
	filter: alpha(opacity=80);
	color: #409eff;
	border-color: #c6e2ff;
	background-color: #ecf5ff;
}


   .downpanel {
      width: 120px;
   }

   .downpanel .layui-select-title !important {
   	padding-right: 30px !important;
   	padding-left: 10px !important;
   }

   .downpanel dl {
   	color: #000 !important;
   	/*    top: 30px; */
   	font-size: 14px !important;


   }

   .downpanel .layui-select-title i {
   	border-top-color: #fff !important;
   }
   
   
   /**选择配色方案 */
   .pearone-color .color-title {padding: 10px 0 10px 20px;border-bottom: 1px solid #d9dada;margin-bottom: 8px;}
   .pearone-color .color-content {padding: 0 5px 0 5px;}
   .pearone-color .color-content ul {list-style: none;text-align: center;}
   .pearone-color .color-content ul li {position: relative;display: inline-block;vertical-align: top;width: 80px;height: 50px;margin: 0 15px 15px 0;padding: 2px 2px 4px 2px;background-color: #f2f2f2;cursor: pointer;font-size: 12px;color: #666;}
   .pearone-color .color-content li.layui-this:after, .pearone-color .color-content li:hover:after {width: 100%;height: 100%;padding: 4px;top: -5px;left: -5px;border-color: #d8d8d8;opacity: 1;}
   .pearone-color .color-content li:after {content: '';position: absolute;z-index: 20;top: 50%;left: 50%;width: 1px;height: 0;border: 1px solid #f2f2f2;transition: all .3s;-webkit-transition: all .3s;opacity: 0;}
   
   /**移动端适应*/
 @media screen and (max-width:768px) {
	  
	 .layui-header .layui-logo{
	 	width: 0px!important;
	 }
	 .layui-side{
		 width: 0px!important;
	 }
	 .layui-body{
		 left: 0px!important;
	 }
	 .layui-header .layui-layout-left{
		 left: 0px!important;
	 }
	 .pearone-mini .layui-side{
		 width:220px!important;
	 }
	 .pearone-mini .layui-side .layui-nav-item>a span{
		 display: inline-block;
	 } 
	
	 .modules-pe{
		 left:100px!important;
	 }
	 .layui-layout-admin .layui-body{
		bottom:0px!important!important; 
	 }
	 .layui-layout-admin .layui-logo{
		 display: none;
	 }
	 

 }  

