/** loader */
.pear-admin-dark .loader-wrapper,
.pear-admin-dark .loader-wrapper .loader {
    background-color: #141414;
}

/** header */
.pear-admin-dark .layui-header {
    background-color: #141414 !important;
    border-color:#414243 !important;
}

.pear-admin-dark .layui-header * {
    color: #ffffff !important;
}

.pear-admin-dark .layui-header .pear-nav-control .layui-this a{
    background-color: #0c0c0c !important;
}

/** side */
.pear-admin-dark .layui-side {
    box-shadow: 0 3px 4px rgba(0, 0, 0, .6) !important;
}

.pear-admin-dark .layui-logo {
    border-color: rgba(0, 0, 0, .30) !important;
}

.pear-admin-dark .layui-side .layui-logo,
.pear-admin-dark .layui-side .layui-side-scroll, 
.pear-admin-dark .layui-side .layui-side-scroll .layui-nav-tree{
    background-color: #141414 !important;
}

.pear-admin-dark .layui-side .layui-side-scroll .layui-nav-tree .layui-nav-child {
    background-color: rgba(0,0,0,.3)!important;
}

.pear-admin-dark .layui-side .layui-side-scroll .layui-nav .layui-nav-item a,
.pear-admin-dark .layui-side .layui-side-scroll .layui-nav .layui-nav-item a > .layui-nav-more {
    color: rgba(255,255,255,.7) !important;
}

.pear-admin-dark .layui-side .layui-side-scroll .layui-nav .layui-nav-child dd.layui-this a,
.pear-admin-dark .layui-side .layui-side-scroll .layui-nav .layui-nav-itemed > a,
.pear-admin-dark .layui-side .layui-side-scroll .layui-nav .layui-nav-itemed > a > .layui-nav-more,
.pear-admin-dark .layui-side .layui-side-scroll .layui-nav .layui-nav-item > a:hover {
    color: #ffffff !important;
}

/** body */
.pear-admin-dark .layui-body,
.pear-admin-dark .layui-body .pear-tab-loading {
    background-color: #0a0a0a !important;
}

.pear-admin-dark .layui-body .layui-tab .layui-tab-title,
.pear-admin-dark .layui-body .layui-tab .layui-tab-title li,
.pear-admin-dark .layui-body .layui-tab .layui-tab-control li {
    background-color: #141414 !important;
    border-color:rgba(0, 0, 0, .30) !important;
    color: #ffffff;
}

.pear-admin-dark .layui-body .layui-tab .layui-tab-title li > span:first-child {
    background-color: #434343;
}

.pear-admin-dark .layui-body .layui-tab .layui-nav-child.layui-anim {
    border-color: #141414;
    background-color: #141414 !important;
}

.pear-admin-dark .layui-body .layui-tab .layui-nav-child.layui-anim a {
    color: #ffffff;
}

.pear-admin-dark .layui-body .layui-tab .layui-nav-child.layui-anim a:hover {
    background-color: #0a0a0a;
}

/** theme */
.pear-admin-dark .set-text,
.pear-admin-dark .select-color-title,
.pear-admin-dark .color-title {
    color: #ffffff;
}

/** button */
.pear-admin-dark .layui-btn {
    color: #ffffff;
    border-color: #4C4D4F;
}

/** layer */
.pear-admin-dark .layui-layer {
    background-color: #141414;
}

.pear-admin-dark .layui-layer-msg {
    border-color: #141414;
}

.pear-admin-dark .layui-layer-msg .layui-layer-content {
    color: #E5EAF3;
}

.pear-admin-dark .layui-layer .layui-layer-setwin > span,
.pear-admin-dark .layui-layer .layui-layer-title {
    color: white;
}

/** card */
.pear-admin-dark .layui-card {
    background-color: #1d1e1f !important;
}

.pear-admin-dark .layui-card .layui-card-header {
    border-bottom-color: #414243;
    color: #ffffff;
}

/** input */
.pear-admin-dark .layui-input {
    background-color: transparent;
    color: #ffffff;
    border-color: rgba(0, 0, 0, .30) !important;
}

/** switch */
.pear-admin-dark .layui-form-switch {
    border-color: #484849;
    background-color: rgba(255,255,255,.08);
}

/** panel */
.pear-admin-dark .layui-panel {
    background-color: #1d1e1f !important;
    border-color: #1d1e1f !important;
}

/** menu */
.pear-admin-dark .layui-menu {
    background-color: #1d1e1f !important;
}

.pear-admin-dark .layui-menu .layui-menu-body-title,
.pear-admin-dark .layui-menu .layui-menu-body-title:hover  {
    color: #ffffff;
    background-color: #1d1e1f !important;
}

/** 403 404 500*/
.pear-admin-dark .pear-exception-title p{
    color: #E5EAF3 !important;
}

/** success failure */
.pear-admin-dark .pear-result .content {
    background-color: rgba(153, 153, 153, 0.12);
    color: #E5EAF3;
}

.pear-admin-dark .pear-result .title{
    color: #ffffff;
}

.pear-admin-dark .pear-result .description{
    color: #8D9095;
}