.layui-form {
	width: 360px !important;
	margin: auto !important;
	margin-top: 160px !important;
}

.layui-form button {
	font-size: 16px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border-radius: 4px;
}

.layui-form-checked[lay-skin=primary] i {
	color: #fff !important;
}

.layui-tab-content {
	margin-top: 15px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.layui-form-item {
	margin-top: 20px !important;
}

.layui-form-item .layui-form-checkbox[lay-skin=primary] {
	margin-top: 0px !important;
}

.layui-input {
	height: 40px !important;
	line-height: 40px !important;
	border-radius: 4px !important;
}

body {
	background-size: cover;
	background-color: #f0f2f5;
	background-repeat:no-repeat;
 }

.code {
	float: left;
	margin-right: 13px;
	margin: 0px !important;
	border: #e6e6e6 1px solid;
	display: inline-block!important;
}

.codeImage {
	float: right;
	height: 40px;
	border-radius: 4px;
	box-sizing: border-box;
	border: #e6e6e6 1px solid;
	cursor: pointer;
}

@media (max-width:768px){
	body{
		background-position:center;
	}
}