.layui-dropdown {
    border-radius: var(--global-border-radius);
}

.layui-input {
    border-radius: var(--global-border-radius);
}

.layui-btn {
    background-color: var(--global-primary-color);
}

.layui-btn.layui-btn-primary {
    background-color: transparent;
}

.layui-card {
    border-radius: var(--global-border-radius);
}